<section>
  <div class="container pt-3">
    <div class="row">
      <div class="col-md-12 text-right my-2">
        <button class="btn btn-primary" type="button">新增類別</button>
      </div>
    </div>

    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">類別名稱</th>
          <th scope="col" class="text-center">操作</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>古董</td>
          <td class="text-center">
            <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-outline-secondary">編輯</button>
              <button type="button" class="btn btn-outline-secondary">刪除</button>
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>書畫</td>
          <td class="text-center">
            <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-outline-secondary">編輯</button>
              <button type="button" class="btn btn-outline-secondary">刪除</button>
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>國寶</td>
          <td class="text-center">
            <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-outline-secondary">編輯</button>
              <button type="button" class="btn btn-outline-secondary">刪除</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>