<section>
  <div class="container pt-3">
    <div class="row">
      <div class="col-md-12 text-right my-2">
        <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#addModal">新增類別</button>
      </div>
    </div>

    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">類別名稱</th>
          <th scope="col" class="text-center">操作</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>古董</td>
          <td class="text-center">
            <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-outline-secondary">編輯</button>
              <button type="button" class="btn btn-outline-secondary">刪除</button>
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>書畫</td>
          <td class="text-center">
            <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-outline-secondary">編輯</button>
              <button type="button" class="btn btn-outline-secondary">刪除</button>
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>國寶</td>
          <td class="text-center">
            <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-outline-secondary">編輯</button>
              <button type="button" class="btn btn-outline-secondary">刪除</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addModalLabel">新增類別</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="addCategory">
        <div class="modal-body">
          <div class="form-group">
            <label for="category-name" class="col-form-label">類別名稱:</label>
            <input type="text" class="form-control" id="category-name">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
          <button type="submit" class="btn btn-primary">新增</button>
        </div>
      </form>
    </div>
  </div>

  <script>
    // $('#addModal').on('show.bs.modal', function (event) {
    //   var btn = $(event.relatedTarget);
    //   var title = btn.text();

    //   var modal = $(this);
    //   modal.find('.modal-title').text(title);
    // })
    $(function () {
      $('#addCategory').on('submit', function (e) {
        e.preventDefault();
        //alert($('#category-name').val());
        var newCategory = {
          'name': $('#category-name').val()
        };

        $.ajax({
          type: "POST",
          url: "/admin/addCategory",
          data: newCategory,
          dataType: "json",
          cache: false,
          async: false,
          success: function (res) {
            // if (res.success === true) {
            //   //swal("", "註冊成功", "success");
            //   window.location.href = res.redirect;
            // } else {
            //   swal("", res.message, "error");
            // }
            $('#addModal').modal('toggle');
          },
          error: function () { }
        });
      });
    });
  </script>