<section>
  <div class="container pt-3">
    <div class="row">
      <div class="col-md-12 text-right my-2">
        <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#addModal">新增拍品</button>
      </div>
    </div>
  </div>
</section>

<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addModalLabel">新增拍品</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="addProduct">
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div class="col-6">
                <div class="form-group row">
                  <label for="pd-name" class="col-4 col-form-label">拍品名稱:</label>
                  <div class="col-8">
                    <input type="text" class="form-control" id="pd-name">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="pd-start-time" class="col-4 col-form-label">開始時間:</label>
                  <div class="col-8">
                    <input type="text" class="form-control" id="pd-start-time" data-toggle="datetimepicker" data-target="#pd-start-time">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="pd-end-time" class="col-4 col-form-label">結束時間:</label>
                  <div class="col-8">
                    <input type="text" class="form-control" id="pd-end-time" data-toggle="datetimepicker" data-target="#pd-end-time">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="pd-start-price" class="col-4 col-form-label">起標價格:</label>
                  <div class="col-8">
                    <input type="text" class="form-control" id="pd-start-price">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="pd-inc-price" class="col-4 col-form-label">出價增額:</label>
                  <div class="col-8">
                    <input type="text" class="form-control" id="pd-inc-price">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="pd-status" class="col-4 col-form-label">拍品狀況:</label>
                  <div class="col-8">
                    <input type="text" class="form-control" id="pd-status">
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group row">
                  <label for="pd-pay-method" class="col-4 col-form-label">付款方式:</label>
                  <div class="col-8">
                    <input type="text" class="form-control" id="pd-pay-method">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="pd-delivery-method" class="col-4 col-form-label">取貨方式:</label>
                  <div class="col-8">
                    <input type="text" class="form-control" id="pd-delivery-method">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="pd-delivery-price" class="col-4 col-form-label">運費:</label>
                  <div class="col-8">
                    <input type="text" class="form-control" id="pd-delivery-price">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="pd-location" class="col-4 col-form-label">所在地:</label>
                  <div class="col-8">
                    <input type="text" class="form-control" id="pd-location">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="pd-id" class="col-4 col-form-label">拍品編號:</label>
                  <div class="col-8">
                    <input type="text" class="form-control" id="pd-id">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <input id="pd-image-1" name="pd-image-1" type="file" accept="image/*">
          </div>
          <div class="form-group">
            <input id="pd-image-2" name="pd-image-2" type="file" accept="image/*">
          </div>
          <div class="form-group">
            <input id="pd-image-3" name="pd-image-3" type="file" accept="image/*">
          </div>
          <div class="form-group">
            <input id="pd-image-4" name="pd-image-4" type="file" accept="image/*">
          </div>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">啟用</label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
          <button type="submit" class="btn btn-primary">新增</button>
        </div>
        <!-- <input id="input-b1" name="input-b1" type="file" class="file"> -->
      </form>
    </div>
  </div>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0/css/tempusdominus-bootstrap-4.min.css"
/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.8/css/fileinput.min.css" />
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.8/themes/explorer-fa/theme.css"> -->

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.8/js/plugins/piexif.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.8/js/plugins/sortable.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.8/js/plugins/purify.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0/js/tempusdominus-bootstrap-4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.8/js/fileinput.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.8/themes/fa/theme.min.js"></script>

<script>
  // $('#editModal').on('show.bs.modal', function (event) {
  //   var btn = $(event.relatedTarget);
  //   var id = btn.data('id');
  //   var name = btn.data('name');

  //   var modal = $(this);
  //   modal.find('.edit-id').val(id);
  //   modal.find('.edit-name').val(name);
  // });

  $(function () {
    $('#pd-start-time').datetimepicker();
    $('#pd-end-time').datetimepicker();
    $("#pd-image-1").fileinput({
      theme: "fa",
      showPreview: false,
      showUpload: false,
      dropZoneEnabled: false,
      allowedFileExtensions: ["jpg", "png", "gif"]
    });
    $("#pd-image-2").fileinput({
      theme: "fa",
      showPreview: false,
      showUpload: false,
      dropZoneEnabled: false,
      allowedFileExtensions: ["jpg", "png", "gif"]
    });
    $("#pd-image-3").fileinput({
      theme: "fa",
      showPreview: false,
      showUpload: false,
      dropZoneEnabled: false,
      allowedFileExtensions: ["jpg", "png", "gif"]
    });
    $("#pd-image-4").fileinput({
      theme: "fa",
      showPreview: false,
      showUpload: false,
      dropZoneEnabled: false,
      allowedFileExtensions: ["jpg", "png", "gif"]
    });

    //   $('.remove').click(function () {
    //     swal({
    //       title: "確定要刪除該資料？",
    //       text: "",
    //       icon: "warning",
    //       buttons: true,
    //       dangerMode: true,
    //     })
    //       .then((willDelete) => {
    //         if (willDelete) {
    //           var removeCategory = {
    //             'id': this.dataset.id
    //           }

    //           $.ajax({
    //             type: "POST",
    //             url: "/admin/removeCategory",
    //             data: removeCategory,
    //             dataType: "json",
    //             cache: false,
    //             async: false,
    //             success: function (res) {
    //               location.reload();
    //             },
    //             error: function () { }
    //           });
    //         }
    //       });
    //   });

    // $('#addCategory').on('submit', function (e) {
    //   e.preventDefault();
    //   var newCategory = {
    //     'name': $('#category-name').val()
    //   };

    //   $.ajax({
    //     type: "POST",
    //     url: "/admin/addCategory",
    //     data: newCategory,
    //     dataType: "json",
    //     cache: false,
    //     async: false,
    //     success: function (res) {
    //       $('#addModal').modal('toggle');
    //       $('#category-name').val('');
    //       location.reload();
    //     },
    //     error: function () { }
    //   });
    // });

    // $('#editCategory').on('submit', function (e) {
    //   e.preventDefault();
    //   var updateCategory = {
    //     'id': $('#edit-id').val(),
    //     'name': $('#edit-name').val()
    //   };

    //   $.ajax({
    //     type: "POST",
    //     url: "/admin/updateCategory",
    //     data: updateCategory,
    //     dataType: "json",
    //     cache: false,
    //     async: false,
    //     success: function (res) {
    //       $('#editModal').modal('toggle');
    //       location.reload();
    //     },
    //     error: function () { }
    //   });
    // });
  });
</script>