<% layout('layout/treasure') %>
  <section>
    <div class="container my-5">
      <h1>常見問題</h1>
      <hr>
      <div class="row">
        <div class="col-12 col-md-3 pb-2">
          <div class="list-group sticky-top">
            <a href="#pane-1" class="list-group-item list-group-item-action active" data-toggle="list">
              拍品詢問
            </a>
            <a href="#pane-2" class="list-group-item list-group-item-action" data-toggle="list">拍賣問題</a>
            <a href="#pane-3" class="list-group-item list-group-item-action" data-toggle="list">提貨問題</a>
            <a href="#pane-4" class="list-group-item list-group-item-action" data-toggle="list">賣場規則及服務</a>
          </div>
        </div>
        <div class="col-12 col-md-9">
          <div class="tab-content">
            <div class="tab-pane active" id="pane-1">
              <div class="row">
                <div class="col-12">
                  <div class="card">
                    <div class="card-header" id="headingOne">
                      <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#pane-1-q1" aria-expanded="true" aria-controls="pane-1-q1">
                          Q1 流標拍品何時會再上架？
                        </button>
                      </h5>
                    </div>

                    <div id="pane-1-q1" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                      <div class="card-body">
                        流標商品將不定期重新刊登。
                      </div>
                    </div>
                  </div>
                  <br>
                  <div class="card">
                    <div class="card-header" id="headingOne">
                      <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#pane-1-q2" aria-expanded="true" aria-controls="pane-1-q2">
                          Q2 黑膠唱片是否為正版？
                        </button>
                      </h5>
                    </div>

                    <div id="pane-1-q2" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                      <div class="card-body">
                        由於非專業賣家，黑膠皆不知是否為原版 ; 舊貨商品建議親自確認品項，如有疑慮請勿下標。
                      </div>
                    </div>
                  </div>
                  <br>
                  <div class="card">
                    <div class="card-header" id="headingOne">
                      <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#pane-1-q3" aria-expanded="true" aria-controls="pane-1-q3">
                          Q3 拍品是否保真？
                        </button>
                      </h5>
                    </div>

                    <div id="pane-1-q3" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                      <div class="card-body">
                        本賣場以同行買家為主，非同行買家請勿下拍，下拍者真假好壞自行負責，本賣場不負任何保證；所有商品真、假、好、壞一定有，因此，我們不負責判斷真假、好壞價值，我們也不鼓勵下標，如對商品有半點疑慮，請勿下標，歡迎現場查看商品
                      </div>
                    </div>
                  </div>
                  <br>
                  <div class="card">
                    <div class="card-header" id="headingOne">
                      <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#pane-1-q4" aria-expanded="true" aria-controls="pane-1-q4">
                          Q4 是否所有拍品皆可於現場看貨？
                        </button>
                      </h5>
                    </div>

                    <div id="pane-1-q4" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                      <div class="card-body">
                        因人力成本考量，拍價未達101元以上，恕不提供現場看貨，其餘商品皆可至現場確認。
                      </div>
                    </div>
                  </div>
                  <br>
                  <div class="card">
                    <div class="card-header" id="headingOne">
                      <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#pane-1-q5" aria-expanded="true" aria-controls="pane-1-q5">
                          Q5 拍品是否可提前結標？
                        </button>
                      </h5>
                    </div>

                    <div id="pane-1-q5" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                      <div class="card-body">
                        本賣場拍品無法提前結標。
                      </div>
                    </div>
                  </div>
                  <br>
                  <div class="card">
                    <div class="card-header" id="headingOne">
                      <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#pane-1-q6" aria-expanded="true" aria-controls="pane-1-q6">
                          Q6 拍品是否可直購或議價？
                        </button>
                      </h5>
                    </div>

                    <div id="pane-1-q6" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                      <div class="card-body">
                        本賣場商品標多少賣多少，絕無直購價。
                      </div>
                    </div>
                  </div>
                  <br>
                  <div class="card">
                    <div class="card-header" id="headingOne">
                      <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#pane-1-q7" aria-expanded="true" aria-controls="pane-1-q7">
                          Q7 預約看貨一次可看幾件拍品？
                        </button>
                      </h5>
                    </div>

                    <div id="pane-1-q7" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                      <div class="card-body">
                        如為新進買家，開放件數為5件，請參閱買家等級說明。
                      </div>
                    </div>
                  </div>
                  <br>
                  <div class="card">
                    <div class="card-header" id="headingOne">
                      <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#pane-1-q8" aria-expanded="true" aria-controls="pane-1-q8">
                          Q8 如欲查看商品，需要攜帶什麼資訊？
                        </button>
                      </h5>
                    </div>

                    <div id="pane-1-q8" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                      <div class="card-body">
                        須攜帶商品編號（標題中括弧內英數字）及會員編號。
                      </div>
                    </div>
                  </div>
                  <br>
                  <div class="card">
                    <div class="card-header" id="headingOne">
                      <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#pane-1-q9" aria-expanded="true" aria-controls="pane-1-q9">
                          Q9 忘了標某件商品，似乎已經結束，可幫我查詢結標金額嗎？
                        </button>
                      </h5>
                    </div>

                    <div id="pane-1-q9" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                      <div class="card-body">
                        礙於個人隱私，恕無法告知結標金額。
                      </div>
                    </div>
                  </div>
                  <br>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="pane-2">
              <div class="row">
                <div class="col-12">
                  <div class="card">
                    <div class="card-header" id="headingOne">
                      <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#pane-2-q1" aria-expanded="true" aria-controls="pane-2-q1">
                          Q1 何謂自動出價、直接出價？
                        </button>
                      </h5>
                    </div>

                    <div id="pane-2-q1" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                      <div class="card-body">
                        直接出價：直接輸入您的預算金額。
                        <br> 自動出價：系統將會把您出價的金額當作是您願意出價的最高上限。 以商品目前的價格加上出價增額替您出價，儘可能以最低的價格得標。
                      </div>
                    </div>
                  </div>
                  <br>
                  <div class="card">
                    <div class="card-header" id="headingOne">
                      <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#pane-2-q2" aria-expanded="true" aria-controls="pane-2-q2">
                          Q2 如何取消我的出價？
                        </button>
                      </h5>
                    </div>

                    <div id="pane-2-q2" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                      <div class="card-body">
                        為維護賣場秩序，違例指數將影響您與本賣場的交易誠信考量，出價前敬請確認清楚。請先謹慎考慮再參與競拍，拍品結拍當日不得取消出價。
                      </div>
                    </div>
                  </div>
                  <br>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="pane-3">
              <div class="row">
                <div class="col-12">
                  <div class="card">
                    <div class="card-header" id="headingOne">
                      <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#pane-3-q1" aria-expanded="true" aria-controls="pane-3-q1">
                          Q1 如何預約提貨？
                        </button>
                      </h5>
                    </div>

                    <div id="pane-3-q1" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                      <div class="card-body">
                        本賣場提供線上預約及電話預約等方式，如欲電話預約，預約電話為(02)XXXX-XXXX
                      </div>
                    </div>
                  </div>
                  <br>
                  <div class="card">
                    <div class="card-header" id="headingOne">
                      <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#pane-3-q2" aria-expanded="true" aria-controls="pane-3-q2">
                          Q2 取貨時需攜帶哪些東西？
                        </button>
                      </h5>
                    </div>

                    <div id="pane-3-q2" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                      <div class="card-body">
                        需攜帶會員編號或訂單編號，預約單號。
                      </div>
                    </div>
                  </div>
                  <br>
                  <div class="card">
                    <div class="card-header" id="headingOne">
                      <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#pane-3-q3" aria-expanded="true" aria-controls="pane-3-q3">
                          Q3 現場提供幾種付款方式？
                        </button>
                      </h5>
                    </div>

                    <div id="pane-3-q3" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                      <div class="card-body">
                        現場付款方式有2種，一為現金付款，二為刷卡付款 (提供VISA、Master Card、銀聯、JCB、U Card等)
                      </div>
                    </div>
                  </div>
                  <br>
                  <div class="card">
                    <div class="card-header" id="headingOne">
                      <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#pane-3-q4" aria-expanded="true" aria-controls="pane-3-q4">
                          Q4 如拍品得標且付完款項，是否可先保留？
                        </button>
                      </h5>
                    </div>

                    <div id="pane-3-q4" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                      <div class="card-body">
                        在結標後7天內必須完成付款，商品將可於得標日起算保留15天。
                      </div>
                    </div>
                  </div>
                  <br>
                  <div class="card">
                    <div class="card-header" id="headingOne">
                      <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#pane-3-q5" aria-expanded="true" aria-controls="pane-3-q5">
                          Q5 拍品需於幾日內取貨完成？
                        </button>
                      </h5>
                    </div>

                    <div id="pane-3-q5" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                      <div class="card-body">
                        拍品應於七日內結清並取貨完成。
                      </div>
                    </div>
                  </div>
                  <br>
                  <div class="card">
                    <div class="card-header" id="headingOne">
                      <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#pane-3-q6" aria-expanded="true" aria-controls="pane-3-q6">
                          Q6 是否提供郵寄？
                        </button>
                      </h5>
                    </div>

                    <div id="pane-3-q6" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                      <div class="card-body">
                        本賣場商品均為舊貨，為顧及您的權益，因此無提供郵寄服務，謝謝。
                      </div>
                    </div>
                  </div>
                  <br>
                  <div class="card">
                    <div class="card-header" id="headingOne">
                      <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#pane-3-q7" aria-expanded="true" aria-controls="pane-3-q7">
                          Q7 若得標大型商品，是否有提供配送服務？
                        </button>
                      </h5>
                    </div>

                    <div id="pane-3-q7" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                      <div class="card-body">
                        得標大型商品，本賣場有提供配送服務，買家可先於七日內結清款項與運費，我們將為您安排送貨。（因貨運並非每日都有，無法自行選擇送貨時間，請買家注意）
                      </div>
                    </div>
                  </div>
                  <br>
                  <div class="card">
                    <div class="card-header" id="headingOne">
                      <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#pane-3-q8" aria-expanded="true" aria-controls="pane-3-q8">
                          Q8 售出了是否可退貨？
                        </button>
                      </h5>
                    </div>

                    <div id="pane-3-q8" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                      <div class="card-body">
                        本賣場商品是以同行買家為主，非同行買家請勿下拍，下拍者真假好壞自行負責，本賣場不負任何保證。交易物品均屬舊貨或二手物品，以物品現況作為交易內容，售出不退還，因此建議買家本人現場看貨，再考慮是否參與競標。
                      </div>
                    </div>
                  </div>
                  <br>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="pane-4">
              <div class="row">
                <div class="col-12">
                  <div class="card">
                    <div class="card-header" id="headingOne">
                      <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#pane-4-q1" aria-expanded="true" aria-controls="pane-4-q1">
                          Q1 新進買家有哪些規則？
                        </button>
                      </h5>
                    </div>

                    <div id="pane-4-q1" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                      <div class="card-body">
                        本賣場對於新進買家，即代表新進的會員編號者; 我們有得標額度的一萬元限制，如超過，我們可能暫停您的競拍。新買家若有意參加高價競標，請與我們聯繫委託競標並繳保證金，保證金將收取欲拍之商品起標價的三成。
                      </div>
                    </div>
                  </div>
                  <br>
                  <div class="card">
                    <div class="card-header" id="headingOne">
                      <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#pane-4-q2" aria-expanded="true" aria-controls="pane-4-q2">
                          Q2 何謂良好及優良買家？
                        </button>
                      </h5>
                    </div>

                    <div id="pane-4-q2" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                      <div class="card-body">
                        <strong>良好買家：</strong>
                        <br>
                        <br> 1. 半年內成交總金額達10萬元。
                        <br> 2.商品棄標率在 3% 以下。
                        <br> 3.無負評本賣場之紀錄。
                        <br> 4. 買賣過程若不符合本賣場既有的規定與流程，就取消資格。
                        <br>
                        <br>
                        <strong>優良買家：</strong>
                        <br>
                        <br> 1.半年內成交件數達100件以上。
                        <br> 2.半年內成交總金額達30萬元。
                        <br> 3.商品棄標率在 1% 以下。
                        <br> 4.無負評本賣場之紀錄。
                        <br> 5.買賣過程若不符合本賣場既有 的規定與流程，就取消資格。
                        <br>
                        <br> 以上各審核條件均通過，良好買家即可開放競拍高價商品 ; 優良買家即享有拍賣上限 100 萬元。
                      </div>
                    </div>
                  </div>
                  <br>
                  <div class="card">
                    <div class="card-header" id="headingOne">
                      <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#pane-4-q3" aria-expanded="true" aria-controls="pane-4-q3">
                          Q3 如果不會使用拍賣，是否可以委託再生補破網代理競標？有何限制？
                        </button>
                      </h5>
                    </div>

                    <div id="pane-4-q3" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                      <div class="card-body">
                        若不會使用拍賣，可委託我們為您代拍，我們將會以世界古董交換中心代理競標帳戶為您代理競標(暱稱：世界古董交換中心代拍ABCD....），如欲申請代拍，需繳交保證金，代理競標之拍賣品，代標價需達3000元以上，若有相關問題，歡迎來電詢問02-XXXX-XXXX。
                      </div>
                    </div>
                  </div>
                  <br>
                  <div class="card">
                    <div class="card-header" id="headingOne">
                      <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#pane-4-q4" aria-expanded="true" aria-controls="pane-4-q4">
                          Q4 若繳交保證金後，未拍到拍品，保證金如何處理？
                        </button>
                      </h5>
                    </div>

                    <div id="pane-4-q4" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                      <div class="card-body">
                        若未拍到拍品，可選擇將保證金保留至下次使用或與我們聯繫退還保證金事宜。
                      </div>
                    </div>
                  </div>
                  <br>
                  <div class="card">
                    <div class="card-header" id="headingOne">
                      <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#pane-4-q5" aria-expanded="true" aria-controls="pane-4-q5">
                          Q5 若棄標了，對於買家權益有何影響？
                        </button>
                      </h5>
                    </div>

                    <div id="pane-4-q5" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                      <div class="card-body">
                        本賣場提供一個３％的額度，即棄標次數與交易次數的百分比， 若棄標比例超過３％，系統將自動限制此會員編號出價。
                      </div>
                    </div>
                  </div>
                  <br>
                  <div class="card">
                    <div class="card-header" id="headingOne">
                      <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#pane-4-q6" aria-expanded="true" aria-controls="pane-4-q6">
                          Q6 拍賣結標時間為何會自動延長？
                        </button>
                      </h5>
                    </div>

                    <div id="pane-4-q6" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                      <div class="card-body">
                        拍賣結束前三分鐘內，只要有二個以上的人出價（含已設定的自動出價），拍賣活動也就會持續進行並自動延長至五分鐘。只要一直有人競價，賣場便會持續延長，直到在延長時間之內都沒有人再出價為止。自動延長沒有次數限制。
                      </div>
                    </div>
                  </div>
                  <br>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>