<% layout('layout_treasure') %>

  <section class="mb-5">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item header-carousel-item bg-cover active" style="background-image: url(https://images.unsplash.com/photo-1443884590026-2e4d21aee71c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=aad2b05a4035cdb1936344280d869ce6&auto=format&fit=crop&w=1327&q=80)">
          <div class="carousel-caption d-none d-md-block">
            <h3>一折起拍 ● 歡迎參拍</h3>
          </div>
        </div>
        <div class="carousel-item header-carousel-item bg-cover" style="background-image: url(https://images.unsplash.com/photo-1504459134801-e65e543112b6?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5934b9f8ec77128cc7f58d05a2098e0e&auto=format&fit=crop&w=1349&q=80)">
          <div class="carousel-caption d-none d-md-block">
            <h3>現拍現賺 ● 獲利驚人</h3>
          </div>
        </div>
        <div class="carousel-item header-carousel-item bg-cover" style="background-image: url(https://images.unsplash.com/photo-1468933830971-f23a76150ee6?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1f6bdbabb44b3d58cdb7be2980aeb54d&auto=format&fit=crop&w=1350&q=80)">
          <div class="carousel-caption d-none d-md-block">
            <h3>物以稀為貴 ● 貴以稀為富</h3>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </section>

  <section>
    <div class="container">
      <a href="/product/list">
        <div class="title mb-4 d-flex justify-content-between">
          拍品競拍
          <span class="more">
            更多拍品
            <i class="fa fa-angle-right fa-fw" aria-hidden="true"></i>
          </span>
        </div>
      </a>
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-6 col-md-3 mb-3">
              <div class="card">
                <a href="/product/detial">
                  <img class="card-img-top" alt="" src="https://images.unsplash.com/photo-1498480086004-2400bd8c3663?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3bf38b7a55952ed8c408ae775094f9dd&auto=format&fit=crop&w=1350&q=80"
                    style="height: 200px; width: 100%; display: block;">
                </a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="/product/detial" class="product-card-title">花瓶</a>
                  </h4>
                  <p class="card-text">
                    <i class="fa fa-usd"></i>10,000</p>
                </div>
              </div>
            </div>
            <div class="col-6 col-md-3 mb-3">
              <div class="card">
                <a href="/product/detial">
                  <img class="card-img-top" alt="" src="https://images.unsplash.com/photo-1494847169657-b5c02877b489?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=53cd5fb69fbd43e22f10be2334291637&auto=format&fit=crop&w=1350&q=80"
                    style="height: 200px; width: 100%; display: block;">
                </a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="/product/detial" class="product-card-title">椅子</a>
                  </h4>
                  <p class="card-text">
                    <i class="fa fa-usd"></i>13,000</p>
                </div>
              </div>
            </div>
            <div class="col-6 col-md-3 mb-3">
              <div class="card">
                <a href="/product/detial">
                  <img class="card-img-top" alt="" src="https://images.unsplash.com/photo-1502911714542-002b74c313cf?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9b04f168ab65b8b645b29c46f2124173&auto=format&fit=crop&w=1351&q=80"
                    style="height: 200px; width: 100%; display: block;">
                </a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="/product/detial" class="product-card-title">玩偶</a>
                  </h4>
                  <p class="card-text">
                    <i class="fa fa-usd"></i>120,000</p>
                </div>
              </div>
            </div>
            <div class="col-6 col-md-3 mb-3">
              <div class="card">
                <a href="/product/detial">
                  <img class="card-img-top" alt="" src="https://images.unsplash.com/photo-1448932284983-0c7b152eba33?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=71bdfa19f9919632dca4f1bcaa66778a&auto=format&fit=crop&w=1350&q=80"
                    style="height: 200px; width: 100%; display: block;">
                </a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="/product/detial" class="product-card-title">茶杯</a>
                  </h4>
                  <p class="card-text">
                    <i class="fa fa-usd"></i>1,000</p>
                </div>
              </div>
            </div>
            <div class="col-6 col-md-3 mb-3">
              <div class="card">
                <a href="/product/detial">
                  <img class="card-img-top" alt="" src="https://images.unsplash.com/photo-1509824189536-24ab5d1ecb00?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b1b1b9f8276cabab85b962bc0a66ddc8&auto=format&fit=crop&w=1350&q=80"
                    style="height: 200px; width: 100%; display: block;">
                </a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="/product/detial" class="product-card-title">鋼筆</a>
                  </h4>
                  <p class="card-text">
                    <i class="fa fa-usd"></i>88,000</p>
                </div>
              </div>
            </div>
            <div class="col-6 col-md-3 mb-3">
              <div class="card">
                <a href="/product/detial">
                  <img class="card-img-top" alt="" src="https://images.unsplash.com/photo-1493479874819-4303c36fa0f9?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a944d1ade1118d11a240266462fcfc9a&auto=format&fit=crop&w=1349&q=80"
                    style="height: 200px; width: 100%; display: block;">
                </a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="/product/detial" class="product-card-title">招財貓</a>
                  </h4>
                  <p class="card-text">
                    <i class="fa fa-usd"></i>1,000</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>