<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/stylesheets/treasure.css">

  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>

  <title>
    世界古董國寶交換中心
  </title>
</head>

<body>
  <header>
    <div class="bg-secondary py-1">
      <div class="container text-right">
        <div class="dropdown">
          <a class="btn-sm btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <img src="/images/flags/tw.png" alt=""> TW
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#">
              <img src="/images/flags/us.png" alt=""> US</a>
            <a class="dropdown-item" href="#">
              <img src="/images/flags/tw.png" alt=""> TW</a>
            <a class="dropdown-item" href="#">
              <img src="/images/flags/kr.png" alt=""> KR</a>
          </div>
        </div>
      </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand d-none d-sm-block" href="/">
          <img src="/images/logo.png" width="180" height="40" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu-left" aria-controls="menu-left" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu-right" aria-controls="menu-right"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-user">
            <i class="fa fa-user-o fa-1x pt-2" aria-hidden="true"></i>
          </span>
        </button>

        <div class="collapse navbar-collapse" id="menu-left">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/news">最新公告</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/rules">拍賣規則</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/product/list">拍品競拍</a>
            </li>
          </ul>
        </div>

        <div class="collapse navbar-collapse justify-content-end" id="menu-right">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/user/login">
                <i class="fa fa-user-o fa-fw" aria-hidden="true"></i>
                登入
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/user/register">
                <i class="fa fa-user-plus fa-fw" aria-hidden="true"></i>
                註冊
              </a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <i class="fa fa-user" aria-hidden="true"></i>
                會員專區
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">
                  <i class="fa fa-child fa-w" aria-hidden="true"></i>&nbsp;個人檔案</a>
                <a class="dropdown-item" href="#">
                  <i class="fa fa-file-text-o fa-w" aria-hidden="true"></i>&nbsp;訂單記錄</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <%- body %>

    <div id="fb-root"></div>
    <script>(function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v3.0';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>

    <div class="footer py-3">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-3 py-3">
            <div class="footer-item">
              <h3 class="py-2">
                <i class="fa fa-facebook-square fa-fw" aria-hidden="true"></i>
                Facebook
              </h3>
              <div class="fb-page" data-href="https://www.facebook.com/%E4%B8%96%E7%95%8C%E5%8F%A4%E8%91%A3%E5%9C%8B%E5%AF%B6%E4%BA%A4%E6%8F%9B%E4%B8%AD%E5%BF%83-944465188929796/"
                data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                <blockquote cite="https://www.facebook.com/%E4%B8%96%E7%95%8C%E5%8F%A4%E8%91%A3%E5%9C%8B%E5%AF%B6%E4%BA%A4%E6%8F%9B%E4%B8%AD%E5%BF%83-944465188929796/"
                  class="fb-xfbml-parse-ignore">
                  <a href="https://www.facebook.com/%E4%B8%96%E7%95%8C%E5%8F%A4%E8%91%A3%E5%9C%8B%E5%AF%B6%E4%BA%A4%E6%8F%9B%E4%B8%AD%E5%BF%83-944465188929796/">世界古董/國寶交換中心</a>
                </blockquote>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-3 py-3">
            <div class="footer-item">
              <h3 class="py-2">
                <i class="fa fa-heart fa-fw" aria-hidden="true"></i>
                安心服務
              </h3>
              <div class="mb-1">
                <a href="/rules">拍賣規則</a>
              </div>
              <div class="mb-1">
                <a href="/user/level">買家等級</a>
              </div>
              <div class="mb-1">
                <a href="/faq">常見問題</a>
              </div>
              <div class="mb-1">
                <a href="/privacy">隱私權保護政策</a>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-3 py-3">
            <div class="footer-item">
              <h3 class="py-2">
                <i class="fa fa-comments-o fa-fw" aria-hidden="true"></i>
                聯絡方式
              </h3>
              <div class="mb-1">
                <i class="fa fa-phone-square fa-fw"></i> 客服電話：02-12345678
              </div>
              <div class="mb-1">
                <i class="fa fa-clock-o fa-fw"></i> 客服時間：
                <br> 週一至週五 10:00am ~ 5:00pm
              </div>
              <div class="mb-1">
                <i class="fa fa-envelope fa-fw"></i>
                <a href="#">與我們聯絡</a>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-3 py-3">
            <div class="footer-item">
              <h3 class="py-2">
                <i class="fa fa-bell fa-fw" aria-hidden="true"></i>
                即時快訊
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="bg-dark">
      <div class="container">
        <div class="text-white text-center">
          © Copyright 2018 世界古董國寶交換中心
        </div>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
      crossorigin="anonymous"></script>
</body>

</html>