<% layout('layout_treasure') %>
  <section>
    <div class="container my-5">
      <h1>買家等級</h1>
      <hr>
      <div class="row justify-content-center">
        <div class="col-12 col-md-10">
          <h3>
            <strong class="text-info">
              未成交買家
            </strong>
          </h3>
          <h5 class="text-white bg-dark">審核規範</h5>
          <p>
            1.看出售中拍品3件為限。
          </p>

          <h3>
            <strong class="text-info">
              新買家
            </strong>
          </h3>
          <h5 class="text-white bg-dark">審核規範</h5>
          <p>
            1.看出售中拍品5件為限。
          </p>

          <h3>
            <strong class="text-info">
              良好買家
            </strong>
          </h3>
          <h5 class="text-white bg-dark">審核規範</h5>
          <p>
            1.看出售拍品10件。
            <br> 2.半年內成交總金額達10萬元。
            <br> 3.商品棄標率在3%以下。
            <br> 4.買賣過程若不符合本賣場既有的規定與流程就取消資格，限制出價。
          </p>

          <h3>
            <strong class="text-info">
              優等買家
            </strong>
          </h3>
          <h5 class="text-white bg-dark">審核規範</h5>
          <p>
            1.看出售拍品20件。<br>
            2.半年內成交總金額達30萬元。<br>
            3.商品棄標率在1%以下。<br>
            4.專屬經紀人- 代拍不須保證金。<br>
            5.優等買家享有拍賣上限 100 萬元。<br>
            6.買賣過程若不符合本賣場既有 的規定與流程取消優等資格。<br>
            7.拍賣訊息服務。<br>
          </p>
        </div>
      </div>
    </div>
  </section>