<% layout('layout_treasure') %>
  <section>
    <div class="container my-5">
      <h1>個資蒐集前告知</h1>
      <hr>
      <div class="row justify-content-center">
        <div class="col-12 col-md-10">
          <p>世界古董國寶交換中心，為了確保會員之個人資料、隱私及權益之保護，本公司所使用會員之個人資料，謹依個人資料保護法第8條規定告知以下事項：</p>
          <h5>
            <strong class="text-danger">
              一 、蒐集目的及方式
            </strong>
          </h5>
          <p>
            本公司之蒐集目的在於進行本會員管理及行銷與內部的統計調查與分析，法定特定目的項目含所有合於營業登記項目或章程所定業務之需要。蒐集方式將透過加入會員或填寫本公司網站資料方式進行個人資料之蒐集。
          </p>
          <h5>
            <strong class="text-danger">
              二 、蒐集之個人資料類別
            </strong>
          </h5>
          <p>
            本公司於網站內蒐集的個人資料包括
            <br> C001 辨識個人者： 如會員者之姓名、照片、地址、電話、電子郵件等資訊。
            <br> C002 辨識財務者： 如信用卡或轉帳帳戶資訊。
            <br> C003 政府資料中之辨識者： 如身分證字號或護照號碼(外國人)。
            <br> C011 個人描述： 如性別、國籍、出生年月日。
            <br> C013 習慣
            <br> C014 個性
            <br> C035 休閒活動及興趣
            <br> C038 職業
            <br> C102 約定或契約
            <br>
          </p>
          <h5>
            <strong class="text-danger">
              三、利用期間、地區、對象及方式
            </strong>
          </h5>
          <p>
            期間：本公司營運期間。
            <br> 地區：會員之個人資料將用於本公司營運之地區。
            <br> 利用對象及方式：會員之個人資料蒐集除用於本公司之會員管理、客戶管理之檢索查詢等功能外，將有以下利用：
            <br>
            <ol>
              <li>物品寄送：於交寄相關商品時，將會員個人資料利用於交付給相關物流、郵寄廠商用於物品寄送之目的。</li>
              <li>金融交易及授權：會員所提供之財務相關資訊，將於金融交易過程(如信用卡授權、轉帳)時提交給金融機構以完成金融交易。</li>
              <li>行銷：本公司將利用會員之地址及郵件、電話號碼進行本公司或合作廠商商品之宣傳行銷。</li>
              <li>電子報寄發：本公司相關活動之電子報寄發，將提供會員email予相關部門寄發</li>
            </ol>
          </p>
          <h5>
            <strong class="text-danger">
              四、會員個人資料之權利
            </strong>

          </h5>
          <p>會員交付本公司之個人資料者，依個資法得行使以下權利：
            <ol>
              <li>查詢或請求閱覽。</li>
              <li>請求製給複製本。</li>
              <li>請求補充或更正。</li>
              <li>請求停止蒐集、處理或利用。</li>
              <li>請求刪除。</li>
              <li>會員可來電洽詢本公司客服專線02-25005563或於網站客服中心，進行申請。</li>
              <li>對於會員所登錄或留存之個人資料，本公司及委外與配合之相關廠商都將於公告之特定目的範圍內予以利用，並採取適當之安全措施予以保護，並依目的事業主管機關指定之個人資料檔案安全維護計畫處理，但有下列情形時，不在此限：
                <ul>
                  <li>基於法律之規定、或受司法機關與其他有權機關基於法定程序之要求。</li>
                  <li>為增進公共利益。</li>
                  <li>為免除會員之生命、身體、自由或財產上之危險。</li>
                  <li>為防止他人權益之重大危害。</li>
                  <li>經過會員本人書面同意。</li>
                </ul>
              </li>
            </ol>
          </p>
          <h5>
            <strong class="text-danger">
              五、客戶個人資料管理政策之修訂與公告
            </strong>
          </h5>
          <p>本政策將由本公司定期因組織、業務、法令或環境等因素之變迭時審議，予以適當修訂，並將依法更新公告於本公司網站，除法定通知義務外，不另行通知。</p>

        </div>
      </div>
    </div>

  </section>