<% layout('layout_treasure') %>
  <section>
    <div class="container mt-5">
      <a href="#">
        <div class="title mb-4 d-flex justify-content-between">
          拍品競拍
        </div>
      </a>
      <hr>
      <div class="row">
        <div class="col-md-3 pb-2">
          <div class="list-group sticky-top">
            <a href="#pane-1" class="list-group-item list-group-item-action active" data-toggle="list">
              古董
            </a>
            <a href="#pane-2" class="list-group-item list-group-item-action" data-toggle="list">書畫</a>
            <a href="#" class="list-group-item list-group-item-action">寶石</a>
            <a href="#" class="list-group-item list-group-item-action">其他</a>
          </div>
        </div>
        <div class="col-md-9">
          <div class="tab-content">
            <div class="tab-pane active" id="pane-1">
              <div class="row">
                <div class="col-6 col-md-4 mb-3">
                  <div class="card">
                    <a href="/product">
                      <img class="card-img-top" alt="" src="https://images.unsplash.com/photo-1498480086004-2400bd8c3663?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3bf38b7a55952ed8c408ae775094f9dd&auto=format&fit=crop&w=1350&q=80"
                        style="height: 200px; width: 100%; display: block;">
                    </a>
                    <div class="card-body">
                      <h4 class="card-title">
                        <a href="/product" class="product-card-title">花瓶</a>
                      </h4>
                      <p class="card-text">
                        <i class="fa fa-usd"></i>10,000</p>
                    </div>
                  </div>
                </div>
                <div class="col-6 col-md-4 mb-3">
                  <div class="card">
                    <a href="/product">
                      <img class="card-img-top" alt="" src="https://images.unsplash.com/photo-1494847169657-b5c02877b489?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=53cd5fb69fbd43e22f10be2334291637&auto=format&fit=crop&w=1350&q=80"
                        style="height: 200px; width: 100%; display: block;">
                    </a>
                    <div class="card-body">
                      <h4 class="card-title">
                        <a href="/product" class="product-card-title">椅子</a>
                      </h4>
                      <p class="card-text">
                        <i class="fa fa-usd"></i>13,000</p>
                    </div>
                  </div>
                </div>
                <div class="col-6 col-md-4 mb-3">
                  <div class="card">
                    <a href="/product">
                      <img class="card-img-top" alt="" src="https://images.unsplash.com/photo-1502911714542-002b74c313cf?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9b04f168ab65b8b645b29c46f2124173&auto=format&fit=crop&w=1351&q=80"
                        style="height: 200px; width: 100%; display: block;">
                    </a>
                    <div class="card-body">
                      <h4 class="card-title">
                        <a href="/product" class="product-card-title">玩偶</a>
                      </h4>
                      <p class="card-text">
                        <i class="fa fa-usd"></i>120,000</p>
                    </div>
                  </div>
                </div>
                <div class="col-6 col-md-4 mb-3">
                  <div class="card">
                    <a href="/product">
                      <img class="card-img-top" alt="" src="https://images.unsplash.com/photo-1448932284983-0c7b152eba33?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=71bdfa19f9919632dca4f1bcaa66778a&auto=format&fit=crop&w=1350&q=80"
                        style="height: 200px; width: 100%; display: block;">
                    </a>
                    <div class="card-body">
                      <h4 class="card-title">
                        <a href="/product" class="product-card-title">茶杯</a>
                      </h4>
                      <p class="card-text">
                        <i class="fa fa-usd"></i>1,000</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="pane-2">
              <div class="row">
                <div class="col-6 col-md-4 mb-3">
                  <div class="card">
                    <a href="/product">
                      <img class="card-img-top" alt="" src="https://images.unsplash.com/photo-1509824189536-24ab5d1ecb00?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b1b1b9f8276cabab85b962bc0a66ddc8&auto=format&fit=crop&w=1350&q=80"
                        style="height: 200px; width: 100%; display: block;">
                    </a>
                    <div class="card-body">
                      <h4 class="card-title">
                        <a href="/product" class="product-card-title">鋼筆</a>
                      </h4>
                      <p class="card-text">
                        <i class="fa fa-usd"></i>88,000</p>
                    </div>
                  </div>
                </div>
                <div class="col-6 col-md-4 mb-3">
                  <div class="card">
                    <a href="/product">
                      <img class="card-img-top" alt="" src="https://images.unsplash.com/photo-1493479874819-4303c36fa0f9?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a944d1ade1118d11a240266462fcfc9a&auto=format&fit=crop&w=1349&q=80"
                        style="height: 200px; width: 100%; display: block;">
                    </a>
                    <div class="card-body">
                      <h4 class="card-title">
                        <a href="/product" class="product-card-title">招財貓</a>
                      </h4>
                      <p class="card-text">
                        <i class="fa fa-usd"></i>1,000</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>