<% layout('../layout/treasure') %>
  <style>
    .alert-rounded {
      border-radius: 50px;
    }
  </style>
  <section>
    <div class="container my-5">
      <h1>會員註冊</h1>
      <hr>
      <div class="row">
        <div class="container py-5">
          <div class="form-row text-center">
            <div class="col-12 col-sm">
              <div class="alert alert-dark alert-rounded" role="alert">
                1. 填寫會員資料
              </div>
            </div>
            <div class="col-12 col-sm">
              <div class="alert alert-primary alert-rounded" role="alert">
                2. 電子信箱與手機認證
              </div>
            </div>
            <div class="col-12 col-sm">
              <div class="alert alert-secondary alert-rounded" role="alert">
                3. 完成註冊
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="row justify-content-center">
        <div class="col-12 col-md-8">

        </div>
      </div>
    </div>
  </section>

  <script>

  </script>